.heading {
  display: flex;
  flex-flow: column;
}

.heading row {
  background-size: cover;
}

.heading span {
  background: #E9725D;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0.25rem 1rem;
  border-radius: 4px;
}

.heading h1 {
  color: #fff;
  font-size: 6rem;
  line-height: 5.5rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
  margin: 6rem auto 4rem auto;
  padding: 0 15%;
}

.heading .intro {
  background: #FCFBF7;
  border-radius: 3px;
  padding: 2.75rem;
  position: relative;
  z-index: 2;
  bottom: -4rem;
}

.heading .intro h2 {
  color: #D57974;
  font-size: 1.875rem;
  line-height: 2.5rem;
  width: 100%;
  margin: 0;
}

.intro-photos {
  background: #FCFBF7;
  padding: 7rem 5% 5.75rem 5%;
}

.intro-photos img {
  min-height: 400px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: solid 1.5rem #fff;
}

.intro-photos div:first-of-type img {
  border-right: solid 0.75rem #fff;
}

.intro-photos div:nth-of-type(2) img {
  border-left: solid 0.75rem #fff;
}

.intro-photos .caption {
  background: #fff;
  text-align: center;
}

.intro-photos .caption p {
  font-size: 1rem;
  color: #D57974;
  margin: -0.75rem 0 0.5rem 0;
  padding: 0;
}

/* Local Impact */

.local-impact {
  padding: 5rem 0 0 0;
}

.local-impact h2 {
  font-family: "filson-pro";
  letter-spacing: 0.44px;
  font-size: 4.5rem;
  color: #007276;
  margin-bottom: 1rem;
}

.local-impact h3 {
  font-family: "quiverleaf-cf"; 
  font-size: 2.25rem;
  line-height: 2.6rem;
  color: #D57974;
  text-align: center;
  width: 70%;
  margin: 0 auto 2rem auto;
}

.local-impact .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.slider {
  padding: 5rem 0;
  background-image: linear-gradient(rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.05) 43%), linear-gradient(rgba(255,255,255,0.05) 80%, rgba(255,255,255,100) 100%), url('../images/squigsquig-pink.svg');
  background-repeat: repeat-y;
}

.slider div {
  height: 40rem;
  max-height: 85vh;
  width: 100%;
  position: relative;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider h4,
.feature h3  {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #fff;
  padding: 2.5rem;
  max-width: 40%;
  font-family: "quiverleaf-cf"; 
  font-size: 2rem;
  color: #D57974;
  line-height: 2.65rem;
  height: calc(100% - 4rem);
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

/* Feature blocks */

.community {
  padding: 5rem 0 2rem 0;
  background-image: linear-gradient(180deg, #FEFDFC 0%, #FCFBF7 100%);
}

.community h2 {
  font-family: "filson-pro";
  font-size: 4.25rem;
  width: 80%;
  color: #007276;
  text-align: center;
  margin-bottom: 4rem;
}

.feature {
  margin-bottom: 6rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.feature h3 {
  position: relative;
  padding: 1.5rem;
  max-width: none;
  height: auto;
  text-align: left;
  top: 1.5rem;
  right: 0;
  z-index: 2;
  margin-right: -6rem;
}

.feature p {
  margin: 1.5rem 1.5rem 0 1.5rem;
  font-size: 1.25rem;
  padding-bottom: 0;
  display: flex;
}

.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature:nth-child(odd) {
  flex-direction: row-reverse;
}

.feature:nth-child(odd) h3 {
  right: unset;
  left: 0;
  margin-right: 0;
  margin-left: -6rem;
}

.feature:nth-child(odd) p {
  margin-left: 0;
}

.didyouknow {
  padding: 6rem 0 20rem 0;
  position: relative;
  background: url(../images/divider.svg) no-repeat center top #FCFBF7;
}

.didyouknow::after {
  content: "";
  width: 470px;
  height: 1rem;
  background: url(../images/divider.svg) no-repeat center bottom;
  position: absolute;
  bottom: 14rem;
  left: calc(50% - 235px);
}

.didyouknow h5 {
  font-family: "quiverleaf-cf"; 
  font-size: 2.25rem;
  color: #007276;
  line-height: 2.65rem;
  text-align: center;
}

.didyouknow h5:nth-child(2) {
  color: #D57974;
}

.didyouknow .row div {
  max-width: 800px;
}