html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "filson-pro", "Filson Pro";
  letter-spacing: 0.44px;
}

div, p, a, li, strong, span, caption, address {
  font-family: "basic-sans", "Basic Sans";
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: #565656;
  letter-spacing: 0.33px;
}

p {
  padding-bottom: 1rem;
}

strong {
  font-weight: 500;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input, label, ::placeholder, button {
  font-family: "filson-pro", "Filson Pro";
}

h2 { 
  color: #008571; 
  font-weight: 800; 
  font-size: 3.25rem; 
  font-family: "quiverleaf-cf"; 
  width: 60%;
  margin: 0 auto 2rem auto;
  text-align: center;
}

/* WYSIWYG */

.wysiwyg * {
  margin-bottom: 1.5rem;
  text-align: left;
}

.wysiwyg h2 {
  width: auto;
}

.wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.75rem;
}

.wysiwyg li {
  margin-bottom: 1rem;
}

.wysiwyg ol,
.wysiwyg ul {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 1rem;
}

.wysiwyg ul {
  list-style-type: circle;
}

.wysiwyg figure {
  margin: 0;
}

/* Modals */

.modal .modal-dialog {
  max-width: 1028px;
  width: 80%;
}

.modal .modal-body {
  padding: 2.5rem;
}

.modal .modal-body * {
  text-align: left;
  width: auto;
  margin: 0;
  padding: 0;
}

.modal .modal-content {
  border-radius: 0;
  border: none;
  box-shadow: 0 0 48px -27px rgba(0, 0, 0, 0.5);
}

.modal .modal-content * {
  border: none;
}

.modal .modal-content img {
  padding: 2rem 0;
}

.modal-backdrop.in {
  opacity: 0.15;
}

.modal-body .close span {
  font-size: 2.5rem;
  right: 1rem;
  top: 0.5rem;
  position: absolute;
}

.modal {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.modal.show {
  opacity: 1 !important;
  transition: all 0.4s ease-in-out;
}


/* HEADER */

header .top-header {
  background: url('../assets/images/colourbar.svg') #fff repeat-x top left;
  padding-top: 6px;
  box-shadow: 0 0 26px -18px #333;
  padding-left: 0;
  padding-right: 0;
}

header .row div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header .top-header .row {
  margin: 0 !important;
  flex-wrap: nowrap;
}

header .brand {
  padding: 30px 0;
}

header .brand a {
  display: flex;
  justify-content: center;
}

header .brand a img {
  max-width: 313px;
  transition: all 0.3s ease-in-out;
}

header span {
  font-size: 0.875rem;
  color: #B5B5B5;
}

header h6 {
  color: #067D73;
  margin: 0;
  font-size: 1rem;
  font-family: "basic-sans", "Basic Sans";
  letter-spacing: 0.44px;
}

header .header-cta {
  border-left: solid 2px #EBEBEB;
  background: url('../assets/images/location.svg') no-repeat 1.5rem center;
  padding: 0.5rem 0 0.5rem 4rem;
  margin: auto 0;
}

header a.header-cta:link,
header a.header-cta:hover,
header a.header-cta:active {
  text-decoration: none;
}

header .header-cta.hours {
  border-right: solid 2px #EBEBEB;
  border-left: none;
  background: url('../assets/images/hours.svg') no-repeat calc(100% - 1.5rem) center;
  padding: 0.5rem 5rem 0.5rem 0;
  text-align: right;
}

header .row .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-right: 1rem;
}

header .socials a,
header .cart a {
  display: flex;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  background: url('../assets/images/facebook.svg') no-repeat center center;
  background-size: contain;
}

header .socials a.instagram {
  background: url('../assets/images/instagram.svg') no-repeat center center;
  background-size: contain;
}

header .cart a {
  height: 1.75rem;
  width: 1.5rem;
  margin-left: 1.5rem;
  background: url('../assets/images/cart.svg') no-repeat center center;
  background-size: contain;
} 

.navbar {
  background: linear-gradient(180deg, #92BC5C 0%, #A8CF75 100%);
  border: 0;
  border-radius: 0;
  margin: 0;
  height: 4rem;
  flex-wrap: nowrap;
}

.navbar a {
  font-family: "filson-pro", "Filson Pro";
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.41px;
  font-weight: bold;
  color: #335902;
}

header .navbar .navbar-nav li a:hover,
header .navbar .navbar-nav li a:focus {
  background: none;
  color: #598223;
  transition: color 0.4s ease-in-out;
}

.navbar .caret {
  display: none;
}

.dropdown-menu{
  background-color: #fff;
  box-shadow: 0 10px 19px -17px;
  border: none;
  border-radius: 2px;
  top: 2rem;
  margin-top: 0.5rem !important;
  padding: 0.75rem 0;
}

.dropdown-toggle::after {
  border: solid #335902;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}

header .navbar .navbar-nav a.dropdown-toggle:hover::after,
header .navbar .navbar-nav a.dropdown-toggle:focus::after {
  border: solid #598223;
  border-width: 0 2px 2px 0;
  transition: all 0.4s ease-in-out;
}

.dropdown-menu li a {
  font-size: 0.85rem;
  line-height: 2rem;
  padding: 0 1.5rem;
  white-space: nowrap;
}

header .navbar a.contact {
  color: #fff;
  font-weight: 400;
  text-transform: none;
  margin: 0 2rem 0 0;
  padding-left: 2rem;
  font-size: 0.875rem;
  background: url(../assets/images/contact.svg) no-repeat left center;
  opacity: 1;
  white-space: nowrap;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}

header .navbar a.contact:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

/* -----------  Home Page ------------ */

.inner-heading { padding-bottom: 15px; }

.inner-heading h2 { 
    color: #008571; 
    font-weight: 800; 
    font-size: 3.875rem; 
    font-family: "quiverleaf-cf"; 
    width: 60%;
    margin: -6rem auto 3rem auto;
    padding: 1.5rem 3rem;
    background: #fff;
    z-index: 1;
    position: relative;
}

div.intro {
  padding-right: 2.5rem;
}

.inner-heading p { 
  margin: 0 auto 4rem auto; 
  line-height: 25px; 
  word-break: break-word; 
  width: 70%;
  text-align: left;
}

.newsflash {
  background: #fafafa;
  margin-bottom: 4rem;
  /* margin-left: 2rem; */
  padding-top: 1rem;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  flex-direction: column;
}

.newsflash h3 {
  font-size: 24px;
  color: #067D73;
  letter-spacing: -0.3px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.newsflash h4 {
  position: absolute;
  top: -1.25rem;
  background: #E0665D;
  color: #fff;
  text-transform: uppercase;
  width: 10rem;
  text-align: center;
  left: calc(50% - 5rem);
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  font-size: 1.125rem;
}

.newsflash span {
  font-size: 1.125rem;
  color: #5C5C5C;
}

.newsflash div {
  border-bottom: solid 2px #E8E8E8;
  align-items: center;
  margin: 0 -0.75rem;
}

.newsflash div a {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 3.25rem 1.75rem 2rem;
  position: relative;
}

.newsflash div a::after { 
  content: "";
  height: 24px;
  width: 15px;
  position: absolute;
  right: 30px;
  top: calc(50% - 14px);
  font-size: 40px;
  background: url(../assets/images/arrow.svg) no-repeat center center;
}

.newsflash div:last-of-type {
  border: none;
}

.free-parking .outer-box {
  padding: 2rem 1rem;
  background: #fafafa;
  border-radius: 1rem;
}

/* Home Page  */
.stay-connected {
  width: 86%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background: none;
}

.stay-connected .gallery {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem; */
  position: relative;
  background: #fff;
  padding: 1.25rem;
  box-shadow: 0 60px 52px -46px rgba(0,0,0,0.37);
}

.stay-connected .gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vendors-sec { 
  padding: 5.125rem 0;
  background-image: linear-gradient(180deg, rgba(255,255,255,0.89) 19%, rgba(255,255,255,0.00) 63%), linear-gradient(rgba(255,255,255,0.00) 60%, rgba(255,255,255,100) 98%), url('../images/squigsquig.svg');
  background-repeat: repeat-y;
}

.vendors-row ul { 
  background: #92BC5C; 
  padding: 1rem 2rem 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  width: 86%;
  margin: 0 auto;
  border-radius: 8px;
}

.vendors-sec li {
  display: flex;
  align-items: center;
  padding: 2.75rem 1rem;
  border: solid 2px #A2CD6A;
  border-width: 1px 0;
  color: #fff;
  font-weight: 500;
}

.vendors-sec li:nth-child(-n+2) {
  border-top: none;
}

.vendors-sec li:nth-last-child(-n+2) {
  border-bottom: none;
}

.vendors-sec span { 
  width: 50px; 
  height: auto; 
  margin-right: 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.vendors-sec p {
  text-align: center;
  width: 70%;
  margin: 0 auto 3.375rem auto;
}

.vendors-sec h4 {
  color: #fff;
}

.vendors-sec a {
  width: 19rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: -2.3125rem;
  height: 4.625rem;
  background: #008671;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

/* Footer */ 

footer {
  background-image: radial-gradient(at top, #007b67 0%, #027d6a 44%, #00473c 100%);
  position: relative;
  margin-top: 8rem;
}

.home footer::before {
  content: '';
  width: 100%;
  height: 8rem;
  position: absolute;
  background: #fff;
  z-index: 0;
  top: 0;
  transform-origin: left top;
  transform: skewY(-6deg);
}

.home footer {
  padding: 16rem 0 0 0;
  margin-top: -15rem;
}

footer * {
  color: #fff;
}

footer div {
  justify-content: center;
  text-align: center;
}

footer h4 {
  border-bottom: dotted 2px rgba(222,255,196,0.60);
  padding-bottom: 1rem;
  width: 80%;
  max-width: 15rem;
  margin: 0 auto 1rem auto;
}

footer ul li,
footer ul li a {
  font-size: 1.3125rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

footer ul li span {
  font-weight: 800;
  color: #DEFFC4;
}

footer img {
  margin-top: -1.5rem;
}

@media (max-width: 768px) {
  footer img {
    margin-top: 1.5rem;
  }
}

@media (max-width: 575px) {
  footer img {
    margin: 1.5rem;
  }
}


.ftr-links {
  margin-top: 1rem;
}

.ftr-links li a {
  position: relative ;
}  

.ftr-links li a:hover {
  color: #BFF892;
  transition: all 0.4s ease-in-out;
}

.ftr-links li a::before {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  top: 0.5rem;
  left: -1.5rem;
  border-style: solid;
  border-color: #BFF892;
  border-width: 2px 2px 0 0;
  position: absolute;
  transform: rotate(45deg); 
}

footer .colophon {
  border-top: dotted 2px rgba(222,255,196,0.60);
  font-size: 0.9375rem;
  font-weight: 500;
  font-family: "filson-pro", "Filson Pro";
  margin: 3.75rem auto 1rem auto;
  padding-top: 2rem;
}

footer .colophon a {
  font-size: 0.9375rem;
  font-weight: 500;
  font-family: "filson-pro", "Filson Pro";
}

footer .colophon span {
  margin: 0 1rem;
}

footer address {
  display: inline-flex;
}

/* --- Mailchimp Signup Form --- */

  footer .contact-form p {
    font-family: "filson-pro", "Filson Pro";
    text-align: left;
    font-size: 1rem;
    margin: 0 auto;
  }

  .home footer .contact-form p {
    text-align: center;
    width: 80%;
    color: #fff;
  }

  footer .form-group {
    display: flex;
  }

  .contact-form {
    margin-top: -8rem;
    margin-bottom: 6rem;
  }

  .contact-form .form-wrapper {
    background: #fff;
    padding: 2rem 4rem;
    box-shadow: 0 27px 47px -8px rgba(0,0,0,0.18);
  }

  .contact-form p {
    color: #039D85;
    text-align: left;
    font-size: 1.25rem;
  }

  footer form .form-group input.form-control::placeholder {
    color: #039D85;
  }

  footer form input,
  footer form button,
  .form-group .form-control {
    border: solid 3px #039D85;
    color: #039D85;
    border-radius: 0;
    height: 3.375rem;
  }

  footer .form-group .custom-btn { 
    background: #039D85; 
    margin-left: 0; 
    padding: 0 1.5rem;
    height: 3.375rem;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff !important;
  }

  .home .contact-form {
    margin-top: 0;
    margin-bottom: 0;
  }

  .home .contact-form .form-wrapper {
    background: none;
    padding: 0;
    box-shadow: none;
  }

  .home footer form {
    margin: 1.5rem auto 6.875rem auto;
  }

  .home footer form input,
  .home footer .form-group .form-control {
    background: #038470;
    border: none;
    height: 3.375rem;
    padding-left: 1rem;
    color: #fff;
  }

  .home footer form .form-group input.form-control::placeholder {
    opacity: 0.49;
    font-family: "filson-pro", "Filson Pro";
    font-weight: 300;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0.33px;
  }

  .home footer .form-group .custom-btn:hover {
    background: #007f74;
    transition: all 0.4s ease-in-out;
    color: #fff !important;
  }

  

/* ---------  Responsive Style --------- */

@ (max-width: 1024px) {

  .inner-heading h2 {
    font-size: 3.5rem;
    width: 70%;
  }

  header .brand a img {
    max-width: 230px;
    transition: all 0.3s ease-in-out;
  }

  header .cart a {
    margin-left: 0.8rem;
    width: 1.35rem;
    transition: all 0.3s ease-in-out;
  }

  header .navbar .navbar-nav li a {
    padding: 0.625rem 1.3125rem;
  }
}

@media (max-width: 780px) {
  header .brand a img {
    max-width: 220px;
    transition: all 0.3s ease-in-out;
  }

  header .header-cta {
    background: url('../assets/images/location.svg') no-repeat 1rem center;
    padding: 0.5rem 0 0.5rem 3.5rem;
  }
  
  header .header-cta.hours {
    padding: 0.5rem 4rem 0.5rem 0;
    background: url('../assets/images/hours.svg') no-repeat calc(100% - 0.75rem) center;
  }
  
  header .row .socials {
    padding-right: 0.5rem;
  }

  header .socials a,
  header .cart a {
    margin: 0.5rem;
  }

  header .cart a {
    margin-left: 0.75rem;
  }

  .nav .menu-item-home {
    display: none;
  }
}

@media (max-width: 670px) {
  header .brand a img {
    max-width: 200px;
    transition: all 0.3s ease-in-out;
  }
  
  header .row .socials,
  header .row .cart {
    display: none;
  }

  header .top-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  header .top-header .row {
    margin: 0 !important;
    flex-wrap: wrap;
  }

  header .header-cta {
    background: url('../assets/images/location.svg') no-repeat left center;
    padding: 0.5rem 0 0.5rem 2.5rem;
    border: none;
  }
  
  header .header-cta.hours {
    padding: 0.5rem 3.25rem 0.5rem 0;
    background: url('../assets/images/hours.svg') no-repeat right center;
    border: none;
  }
}

@media (min-width: 575px) {

  .navbar-expand-md .navbar-toggler {
    display: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  ul.navbar-nav li {
    width: auto;
  }

  header .navbar .navbar-nav li a {
    padding: 0.625rem 1rem;
  }
}

@media (max-width: 575px) {

  .inner-heading h2 {
    font-size: 3rem;
    width: 80%;
    margin: -6rem auto 0rem auto;
    padding: 1rem;
  }

  div.intro {
    padding: 0 4rem;
  }

  .newsflash {
    margin: 1rem 2rem 4rem 2rem;
  }

  .navbar {
    min-height: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }

  header {
    margin-bottom: 178px;
  }

  header .brand {
    border-bottom: solid 1px #cecece;
    padding: 1.5rem 0;
    margin-bottom: 0.5rem;
  }

  header .brand a {
    justify-content: start;
  }

  header .brand a img {
    max-width: 240px;
  }

  header .header-cta {
    margin: 0 1rem 1rem 1rem;
  }

  header .navbar #collapsibleNavbar {
    background: linear-gradient(180deg, #92BC5C 0%, #A8CF75 100%);
    height: 100vh !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    max-height: none;
    display: flex !important;
    opacity: 1;
    align-items: start;
    padding-top: 2rem;
    transition: all 0.4s ease-in-out;
  }

  header .navbar #collapsibleNavbar.collapse:not(.show) {
    display: none !important;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    display: flex !important;
    height: 1px !important;
    overflow: hidden;
  }

  .navbar-toggler {
    z-index: 5;
    top: 2.75rem;
    position: fixed;
    right: 1rem;
    border: none;
    transition: background 0.4s ease-in-out;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon,
  .navbar-toggler.collapsed .navbar-toggler-icon::before,
  .navbar-toggler.collapsed .navbar-toggler-icon::after {
    background: #92BC5C;
    transition: background 0.9s ease-in-out;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  header .navbar .navbar-nav li a {
    font-size: 2.5rem;
    text-transform: none;
    padding: 1.5rem 0;
    font-weight: 500;
    text-align: left;
    line-height: 4rem;
  }

  .top-header.header {
    overflow: hidden;
  }

  .top-header.header-static {
    height: 178px;
    transition: height 0.4s ease-in-out;
    position: fixed;
    z-index: 2;
    top: 0;
  }

  .top-header.header-scroll {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 110px;
    transition: height 0.6s ease-in-out;
  }

  .top-header.header-static .hours,
  .top-header.header-static .directions {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  .top-header.header-scroll .hours,
  .top-header.header-scroll .directions {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .top-header.header-scroll .brand {
    border: none;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
  }

  .home-banner {
    margin-top: 178px;
  }

  header ul.navbar-nav {
    width: auto;
    margin: 6rem auto auto auto !important;
    height: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .vendors-sec ul {
    display: block;
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .vendors-sec ul li {
    padding: 1.75rem 0.5rem;
  }

  .stay-connected .gallery  {
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding: 0.55rem;
  }
}

/* General Page Headings */

.heading {
  display: flex;
  flex-flow: column;
}

.heading row {
  background-size: cover;
}

.heading span {
  background: #E9725D;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0.25rem 1rem;
  border-radius: 4px;
}

.heading h1 {
  color: #fff;
  font-size: 6rem;
  line-height: 5.5rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
  margin: 6rem auto 4rem auto;
  padding: 0 15%;
}

@media (max-width: 959px) {
  .heading h1 {
    padding: 0 10%;
    font-size: 5rem;
  }
}

@media (max-width: 653px) {
  .heading h1 {
    padding: 0 4%;
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

@media (max-width: 545px) {
  .heading h1 {
    padding: 0;
    font-size: 4rem;
    line-height: 4rem;
  }
}

.heading .intro {
  background: #FCFBF7;
  border-radius: 3px;
  padding: 2.75rem;
  position: relative;
  z-index: 2;
  bottom: -4rem;
}

.heading .intro h2 {
  color: #D57974;
  font-size: 1.875rem;
  line-height: 2.5rem;
  width: 100%;
  margin: 0;
}

/* Offcanvas Directions and Map Thing */
.offcanvas.directions {
  width: 600px;
}

.offcanvas.contact {
  width: 540px;
}

.offcanvas.directions h2 {
  width: 90%;
  text-align: left;
}

.offcanvas.contact h2 {
  width: 100%;
  text-align: left;
}

.offcanvas.contact ul {
  margin-bottom: 1.5rem;
}

.offcanvas.directions .offcanvas-body {
  padding: 0;
  max-height: 100vh;
}

.offcanvas.contact .offcanvas-body {
  padding: 2rem;
}

.offcanvas.directions .btn-close {
  height: 1.5rem;
  width: 1.5rem;
}

.offcanvas.directions .close-wrapper {
  background: #fff;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    border-radius: 4px;
    box-shadow: 0 0 10px -3px #3333333d;
}

.offcanvas.directions a.google-directions {
    margin: -4rem auto 4rem auto;
    display: flex;
    width: 13rem;
    flex-flow: column;
    padding: 0.5rem 0;
    color: #008571;
    background: #fff;
    border: none;
    box-shadow: 0 0 10px -3px #33333340;
    border-radius: 4px;
    font-size: 16px;
}

.offcanvas.directions .content {
  width: 90%;
  margin: 0 auto 3rem auto;
}

.offcanvas.directions address {
  font-weight: 600;
  font-size: 0.85rem;
  color: #fff;
  background: #E0665D;
  padding: 0.25rem 1rem;
  display: inline-flex;
  margin: 0 auto 2rem 0;
}

.offcanvas.directions .content a {
  color: #E0665D;
  font-weight: 600;
}


/* ---- Sticky Header Styles ---  */

@media (min-width: 575px) {
  body {
    padding-top: 178px;
    /* transition: padding 0.6s ease-in-out; */
  }

  header .top-header.header-static {
    position: fixed;
    z-index: 2;
  }

  header .top-header.header-scroll {
    position: fixed;
    top: 0;
    z-index: 3;
  }

  header {
    top: 0;
    position: fixed;
    z-index: 3;
  }

  header .top-header.header-static .primary {
    height: 130px;
    transition: height 0.6s ease;
  }

  header .top-header.header-scroll .primary {
    height: 75px;
    transition: height 0.6s ease;
  }

  header .top-header.header-static .primary span {
    line-height: 22px;
    transition: line-height 0.6s ease;
  }

  header .top-header.header-scroll .primary span {
    line-height: 14px;
    transition: line-height 0.6s ease;
  }

  header .top-header.header-scroll .navbar { 
    height: 3rem;
    transition: height 0.6s ease;
  }

  header .top-header.header-static .primary .brand a img {
    transition: transform 0.6s ease;
    transform-origin: center;
  }

  header .top-header.header-scroll .primary .brand a img {
    transform: scale(0.7);
  }
}