html {
  font-size: 16px;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

p, a, li, strong, span {
  font-family: "basic-sans";
}

header {
  background: url('../assets/images/colourbar.svg') repeat-x top left;
  padding-top: 6px;
}

header .row div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header .top-header .row {
  margin: 0 !important;
}

header .brand {
  padding: 30px 0;
}

header .brand a {
  display: flex;
  justify-content: center;
}

header .brand a img {
  max-width: 313px;
  transition: all 0.3s ease-in-out;
}

header span {
  font-size: 0.875rem;
  color: #B5B5B5;
}

header h6 {
  color: #067D73;
  margin: 0;
  font-size: 1rem;
  font-family: "basic-sans";
  letter-spacing: 0.44px;
}

header .header-cta {
  border-left: solid 2px #EBEBEB;
  background: url('../assets/images/location.svg') no-repeat 1.5rem center;
  padding: 0.5rem 0 0.5rem 4rem;
  margin: auto 0;
}

header .header-cta.hours {
  border-right: solid 2px #EBEBEB;
  border-left: none;
  background: url('../assets/images/hours.svg') no-repeat calc(100% - 1.5rem) center;
  padding: 0.5rem 5rem 0.5rem 0;
  text-align: right;
}

header .row .socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-right: 1rem;
}

header .socials a,
header .cart a {
  text-indent: -99999999rem;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  background: url('../assets/images/facebook.svg') no-repeat center center;
  background-size: contain;
}

header .socials a.instagram {
  background: url('../assets/images/instagram.svg') no-repeat center center;
  background-size: contain;
}

header .cart a {
  height: 1.75rem;
  width: 1.5rem;
  margin-left: 1.5rem;
  background: url('../assets/images/cart.svg') no-repeat center center;
  background-size: contain;
}

.navbar {
  background: linear-gradient(180deg, #92BC5C 0%, #A8CF75 100%);
  border: 0;
  border-radius: 0;
  margin: 0;
}

.navbar a {
  font-family: "filson-pro";
  text-transform: uppercase;
  font-size: 0.9375;
  letter-spacing: 0.41px;
  font-weight: bold;
  color: #335902;
}

header .navbar .navbar-nav li a:hover,
header .navbar .navbar-nav li a:focus {
  background: none;
  color: #598223;
  transition: color 0.4s ease-in-out;
}

.navbar .caret {
  display: none;
}

.dropdown-toggle::after {
  border: solid #335902;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}

header .navbar .navbar-nav a.dropdown-toggle:hover::after,
header .navbar .navbar-nav a.dropdown-toggle:focus::after {
  border: solid #598223;
  border-width: 0 2px 2px 0;
  transition: all 0.4s ease-in-out;
}

/* --------- Cart Responsive Style --------- */

@media (max-width: 1024px) {
  header .brand a img {
    max-width: 260px;
    transition: all 0.3s ease-in-out;
  }

  header .cart a {
    margin-left: 0.8rem;
    width: 1.35rem;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 780px) {
  header .brand a img {
    max-width: 220px;
    transition: all 0.3s ease-in-out;
  }

  header .header-cta {
    background: url('../assets/images/location.svg') no-repeat 1rem center;
    padding: 0.5rem 0 0.5rem 3.5rem;
  }
  
  header .header-cta.hours {
    padding: 0.5rem 4rem 0.5rem 0;
    background: url('../assets/images/hours.svg') no-repeat calc(100% - 0.75rem) center;
  }
  
  header .row .socials {
    padding-right: 0.5rem;
  }

  header .socials a,
  header .cart a {
    margin: 0.5rem;
  }

  header .cart a {
    margin-left: 0.75rem;
  }
}

@media (max-width: 670px) {
  header .brand a img {
    max-width: 200px;
    transition: all 0.3s ease-in-out;
  }
  
  header .row .socials,
  header .row .cart {
    display: none;
  }

  header .top-header .row {
    margin: 0 !important;
  }

  header .header-cta {
    background: url('../assets/images/location.svg') no-repeat left center;
    padding: 0.5rem 0 0.5rem 2.5rem;
    border: none;
  }
  
  header .header-cta.hours {
    padding: 0.5rem 3.25rem 0.5rem 0;
    background: url('../assets/images/hours.svg') no-repeat right center;
    border: none;
  }
}

@media (min-width: 575px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  ul.navbar-nav li {
    width: auto;
  }

  header .navbar .navbar-nav li a {
    padding: 0.625rem 1.3125rem;
  }
}

@media (max-width: 575px) {

  .navbar {
    min-height: 0;
    height: 0;
    padding: 0;
  }

  header .brand {
    border-bottom: solid 1px #cecece;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
  }

  header .brand a {
    justify-content: start;
  }

  header .brand a img {
    max-width: 240px;
  }

  header .header-cta {
    margin: 0 1rem 1rem 1rem;
  }

  header .navbar #collapsibleNavbar {
    background: linear-gradient(180deg, #92BC5C 0%, #A8CF75 100%);
    height: 100vh !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    max-height: none;
    display: flex !important;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }

  header .navbar #collapsibleNavbar.collapse:not(.show) {
    display: none !important;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    display: flex !important;
  }

  .navbar-toggler {
    z-index: 3;
    top: 2.75rem;
    position: fixed;
    right: 1rem;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon,
  .navbar-toggler.collapsed .navbar-toggler-icon::before,
  .navbar-toggler.collapsed .navbar-toggler-icon::after {
    background: #92BC5C;
  }

  header .navbar .navbar-nav li a {
    font-size: 2rem;
    text-transform: none;
    padding: 1.5rem 0;
    font-weight: 500;
  }
}